
body{
    border: 0px red solid;
    max-width: 80%;
    margin: 0px auto;
    background-image: url("fundo2.png");
    padding-top: 20px;
}

.link{
    float: right;
}

p{
    margin: 0px auto;
}

#img-capa{
    padding-top: 25px;

}

h4{
    text-align: center;
}

